.card {
    border: 1px solid black;

    display: flex;
    width: 900px;
    height: 250px;

    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.166);
}
.card-link{
    text-decoration: none;
    color: black;
}
.text {
    margin-left: 10px;
    padding: 10px;
}

.image-card {
    height: 250px;
    width: 400px;
}

span {
    color: blue;
}

p {
    font-size: 20px;
}