.container{
    margin: 0px;
}
.card{
    border: 1px solid black;
    margin: 20px;
width: 900px;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.166);
    display: block;
margin-right: auto;
margin-left: auto;
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.title{
    text-align: center;
}
.heading{
    font-size: 40px;
    text-align: center;
}